<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trial Dashboard</title>
    <style>
      .box {
        background-color: cornflowerblue;
        height: 200px;
        width: 200px;
      }
      [v-cloak] {
        display: none;
      }
      input{ 
        margin: 10px;
        display: block;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <!--{{greeting}}-->
      <custom-form/>
      <!-- directives: a way to connect elements in html to
           vue js-->
      <hr/>
        <!--v-model directive: two-way data binding-->
         <input @keyup.enter="greet" v-model="greeting" />
      <hr/>
      <!--v-on directive: specific for events
      eg <button v-on:click="isVisible = !isVisible">Show Box</button>
      -->
      <button @click="toggleBox">Show Box</button>
      <!--v-if directive-->
      <div v-if="isVisible" class="box">
      </div>
      <hr/>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script type="module" src="/src/main.js"></script>
    <script>
      let app = Vue.createApp({
        //options object
        data: function(){
          return {
            greeting: 'Hello dashboard!',
            isVisible: false, 
          }
        },
        methods: {
            toggleBox() {
              this.isVisible = !this.isVisible;  
            }, 
            greet() {
              console.log(this.greeting)
            }
          }
      })
      //Creating component function
      app.component('custom-form', {
        template: `
          <form @submit="handleSubmit">
            <h1>{{title}}</h1>
            <input type="email"/> 
            <input type="password"/>  
          </form>
        `, 
        data: function() {
          return{
            title: 'Login Form'
          }
        },
        methods: {
          handleSubmit() {
             console.log('Your form has been submitted')
          }
        }
      })
      //mounting application to html
      app.mount('#app')
    </script>
  </body>
</html>
 